Pseudo : <%=@u.pseudo%><br/>
Prénom : <%=@u.firstname%> <br/>
Nom : <%=@u.lastname%><br/>
Email : <%=@u.email%><br />
<%-if @u == current_user%>
<%= link_to "Supprimer l'utilisateur", user_path(@u),method: :delete , data: {confirm: "Etes vous sur?"}%>
<%-end%>
<br/>
Posts :
<%- @u.posts.each do |post|%>
<br />
<p> <%= image_tag post.vignette.thumb%>
   <%= link_to post_path(post) do
        post.titre
      end%>
  </p>
    <br>

<%-end%>
