<%=form_for @p do |f|%>

  <label>Titre : </label>
  <%=f.text_field "titre"%>
    <%=@p.errors.messages[:titre].to_sentence%><br/>

  <%=f.text_area "chapeau"%>
      <%=@p.errors.messages[:chapeau].to_sentence%><br/>

  <label>Vignette : </label>
  <%=f.file_field :vignette%>

<<br />
  <%=f.submit%>
<%end%>
