<h1><u>Posts</u></h1>
<%- if user_signed_in? %>
<%= link_to " Noveau Post",new_post_path%>
<%- end%>
<br />
<%= @p.count %> Posts  <br />
<%- @p.each do |post|%>
<br />
<p> <%= image_tag post.vignette.thumb%>
   <%= link_to post_path(post) do
        post.titre
      end%>
  </p>



    <br>
<%-end%>
