<p><%= image_tag @p.vignette.small%></p>
Nom : <%=@p.titre%> <br/>
Auteur : <i>
<%=if User.exists?(@p.user_id)
    link_to user_path(@p.user_id) do
        User.find(@p.user_id).pseudo
      end
    else
      "Utilisateur supprimé"
    end%>
  </i>
    <br/>
Texte :<%=@p.chapeau%>

<%- if @u != nil%>
  <%- if @p.user_id == @u.id %>
  <br />
    <%= link_to " Modifier Post ", edit_post_path%><br>
      <%= link_to " Supprimer Post ", post_path(@p),method: :delete , data: {confirm: "Etes vous sur?"}%><br>
    <%-end%>
    <br />


<%-end%>
