<!DOCTYPE html>
<html>

<head>
  <title>Blog Ruby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="title">
    <h1>BR</h1>
  </div>
  <h2><%= link_to "BLOG RUBY", root_path%></h2>
    <div id="connection_interface">
    <%- if user_signed_in? %>
      <p>Connecté</p>
      <p><%=link_to "Voir Profil",user_path(current_user)%></p>
      <p> <%=link_to "Se déconnecter",destroy_user_session_path,:method => :delete%></p>
    <%-else%>
    <p>Deconnecté <%=link_to "Se connecter",user_session_path %></p>
    <%-end%>
  </div>
  </header>
<%= yield %>

</body>
</html>
